/* Button */
.button {
  position: relative;
  display: inline-block;
  height: 60px;
  padding: 0 35px;
  background-color: $lightGreen;
  color: #fff;
  line-height: 63px;
  text-align: center;
  font-size: 13px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  overflow: hidden;
  transition: all 0.3s ease-in-out;

  .button-large {
    height: 70px;
    line-height: 71px;
  }

  .span {
    position: relative;
    z-index: 1;
  }

  &:hover {
    color: #fff;
    background-color: $darkgreen;
  }
}

.button.button-loadmore {
  position: relative;
  clear: both;
  display: block;
  width: 190px;
  margin: 0 auto;
  color: #bdc1c0;
  background-color: #fcfcfc;
  font-size: 17px;
  font-weight: 400;
}

.button.button-loadmore.style2 {
  margin-top: 15px;
}
.button.button-loadmore .txt-loading {
  display: none;
}

.button.button-loadmore:hover {
  background: #fff;
  color: #a6abab;
}
