/* light Theme */
$primaryBg: #f4f7f6;
$secondaryBg: #202121;
$lightColor: #fcfcfc;
$darkgreen: #42ab9e;
$lightGreen: #49c5b6;
$darkHover: #64686a;
$toggleBg: #707070;
$red: #d14836;
$purple: #6464e8;
$gray: #a6abab;
$gold: #ae9b4f;
$plainWhite: #fff;
$blue: #017eff;
$borderBtm: #e6eaea;
